body{
    margin: 0;
    background: linear-gradient(to right,lightblue,yellow);
    display: flex;
    height: 100vh  ;
    justify-content:center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}
.heading{
    font-size: 1.25rem;
    font-weight: 700;
}
.container{
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    border: 2px solid black;
    padding: 10px ;
    width: 400px;
    margin: 5px;
}
.btn{
    background-color: green;
    color: aliceblue;
    padding: 10px 30px;
    font-size: 15px;
    margin-bottom: 30px;
    border-radius: 6px;
    cursor: pointer;
}
.btn:disabled{
    background-color: gray;
    cursor: not-allowed;
}

.anime-img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 3px solid green;
}
.anime-name
{
    margin: 20px;
    background-color: green;
    color:aliceblue;
    cursor: pointer;
    border-radius: 6px;
    padding: 10px;
    font-size: 17px;
    font-weight: 800;
}
.anime-container{
    display: none;
}